.btn-g-down {
    text-align: center;
}

.btn-down {
    margin-top: 5px;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 50px;
}

.btn-nav {
    margin: auto;
}
